@import "../../global.scss";
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    @include mobile {
      font-size: 40px;
    }
  }
  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
      width: 100%;
      height: 100%;
    }
    .item {
      width: 250px;
      height: 200px;
      border-radius: 20px;
      border: 1px solid lightslategrey;
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: all o.5s ease;
      @include mobile {
        width: 150px;
        height: 125px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        border-radius: 20px;
      }
      h3 {
        position: absolute;
        font-size: 20px;
      }
      &:hover {
        background-color: $mainColor;
        color: white;
        cursor: pointer;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
