@import "../../global.scss";

.contact {
  display: flex;
  @include mobile {
    flex-direction: column;
  }
  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    @include mobile{
      padding-left: 0px;

    }
    img {
  border-radius: 15px;
    background-color: crimson;
      width: 100%;
      padding: 10px;
      @include mobile {
        width: 70%;

      }
    }
  }
  .right {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .button{
      padding: 5px 10px;
      color: white;
      background-color: crimson;
      border: none;
      border-radius: 5px;
      width: 250px;
      height: 50px;
      font-size: 30px;
      font-weight: 200;
      @include mobile {
        width: 150px;
        height: 35px;
        font-size: 20px;
      }
      cursor: pointer;
      & :focus{
        outline: none;
      }
      &:hover{
        color: crimson;
        background-color: white;
        border: 1px solid crimson;
        font-weight: 500;
      }
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-size: 15px;
        @include mobile {
          width: 201px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        height: 201px;
        font-size: 14px;
        @include mobile {
          width: 200px;
          height: 50px;
        }
      }
      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        &.focus {
          outline: none;
        }
      }
      span {
        color: green;
      }
    }
  }
}
