@import "../../global.scss";
.work {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  @include mobile {
    height: 100%;
  }

  .arrow {
    height: 120px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }
    &.left {
      left: 100px;
    }
    &.right {
      right: 100px;
      transform: rotate(180deg);
    }
  }

  .slider {
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;
    @include mobile {
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
    .wcontainer {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
          width: 80%;
          height: 190px;
          margin: 10px 0;
        }
        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;

          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include mobile {
              height: 113%;
            }
            .imgContainer {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(233, 141, 108);
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 25px;
              }
            }
            h2 {
              font-size: 25px;
              @include mobile {
                font-size: 15px;
              }
            }
            p {
              font-size: 13px;
              @include mobile {
                font-size: 11px;
              }
            }
            span {
              font-size: 12px;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .right {
          flex: 8;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          img {
            width: 400px;
            transform: rotate(-10deg);
            @include mobile {
              width: 90%;
            }
          }
        }
      }
    }
  }
}
